<h2>Lista de categorias:</h2><hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

<div class="mybox">
{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h1>{{nome}}</h1>
            <small><b>Description:</b> {{slug}}</small><br>
            <div class="buttons">
                <a href="/admin/categorias/edit/{{_id}}"><button type="button" class="btn btn-outline-success mt-2">Editar</button></a>

                <form action="/admin/categorias/delete/" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="button" class="btn btn-outline-danger mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Deletar
                    </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja deletar a categoria? Essa ação não pode ser desfeita.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger">Continuar</button>
                    </div>
                    </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{{else}}
    <h4 class="mt-3">Nenhuma categoria registrada...</h4>
{{/each}}
</div>